body {

    background: #bdbdbd;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    flex-direction: column;

}

*{

    font-family: 'Courier New', Courier, monospace;

    box-sizing: padding-box;

}

form {

    width: 1000px;

    border: 3px solid rgb(27, 27, 27);

    padding: 10px;

    background: #364055;

    border-radius: 15px;

}

h2 {

    text-align: center;

    margin-bottom: 20px;

}

input {

    display: block;

    border: 2px solid #1d1d1d;

    width: 97%;

    padding: 10px;

    margin: 7px auto;

    border-radius: 15px;

}

label {

    color: #dadada;

    font-size: 18px;

    padding: 10px;

}

button {

    float: right;

    background: rgb(27, 27, 27);

    padding: 10px 15px;

    color: #fff;

    border-radius: 15px;

    margin-right: 10px;

    border: none;
}

button:hover{

    opacity: .20;

}

.error {

   background: #F2DEDE;

   color: #0c0101;

   padding: 10px;

   width: 95%;

   border-radius: 5px;

   margin: 20px auto;

}

h1 {

    text-align: center;

    color: rgb(11, 44, 116);

}

a {

    float: right;

    background: rgb(27, 27, 27);

    padding: 10px 15px;

    color: #fff;

    border-radius: 15px;

    margin-right: 10px;

    border: none;

    text-decoration: none;

}

a:hover{

    opacity: .20;

}

nav {
    display: inline;
}